@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Permanent+Marker');

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: antiquewhite;
}


/*HEADER STYLES*/

header {
  background-color: black;
  margin-bottom: 40px;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-family: 'Permanent Marker';
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

nav a:link    {color: #faebd7;}
nav a:visited {color: #a4a4da}
nav a:hover   {color: #c4f8af}
nav a:active  {color: #ff9ae1}

/*
MAIN Styles
*/

main img {
  width: 80%;
  align-items: center;
}

h2, h3 {
  font-size: 32px;
  font-family: 'Shadows Into Light';
  margin: 0;
  padding-top: 5px;
}

p, ol, ul, a {
  font-size: 14px;
}

hr {
  height: 5px;
  background-color: #7b46b8;
  border: none;
}

section {
  margin: 20px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 0;
}

.item-double {
  flex: 2;
}

.contact-image {
  border: 1px solid #ababab;
  border-radius: 8px;
}

.contact-links li a {
  color: blue;
}

form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

button {
  margin-bottom: 20px;
}

/*
FOOTER Styles
*/

footer div {
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #000000;
  color: antiquewhite;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  h1 {
    margin: 14px 0;
    padding-top: 0;
    font-family: 'Permanent Marker';
  } 

  header nav {
    align-self: center;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  main img {
    width: 75%;
  }

}